@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

.grid2-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* see notes below */
  grid-gap: 2em;
}
.backButton {
  display: inline-block;
  margin-left: 1190px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 400px) {
  .grid2-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* see notes below */
    grid-gap: 1em;
  }
  .center-align {
    margin-bottom: 50px;
    word-wrap: none;
    /* display: none; */
  }
  .backButton {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
  }
}
.center-bt {
  margin-bottom: 40px;
}

@media only screen and (max-width: 400px) {
  .center-bt {
    margin-bottom: 65px;
  }
}
