@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
.margin-bt {
  margin-bottom: 50px;
}
.margin-rg {
  margin-right: 80px;
}
body {
  background: #212121;
}
body {
  color: #eee;
}

.colApp {
  background: #343a40;
}

.customBtn {
  height: 50px;
}
