@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.margin-bt {
  margin-bottom: 50px;
}
.margin-rg {
  margin-right: 80px;
}
h2 {
  text-align: center;
}
.contain {
  max-width: 750px;
}
