/* body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0.5vw;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: nowrap;
}

.header div {
  flex: auto;
  width: 200px;
  margin: 0.5vw;
}

img {
  width: 100%;
  height: auto;
} */
